* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: black;
  color: white;
  header {
    nav {
      background-color: white;
      width: 100%;
      height: 2rem;
      color: black;
      font-size: 1.5rem;
      padding: 2rem;
      text-align: end;
      ul {
        li {
          text-decoration: none;
        }
      }
    }
  }
  main {
    h1 {
      font-size: 3rem;
      text-align: center;
      padding: 1rem;
      color: yellow;
    }
    p {
      padding: 1.5rem;
      font-size: 1.5rem;
      strong {
        color: yellow;
      }
    }
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      form {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        color: yellow;

        label {
          position: relative;
          font-size: 2rem;
          bottom: 2rem;
        }
        select {
          color: black;
          padding: 0.5rem 2rem;
          border-radius: 1rem;
          font-size: 1.5rem;
          cursor: pointer;
          option {
            color: black;
            background-color: white;
            cursor: pointer;
          }
        }
        .input {
          position: relative;
          color: black;
          padding: 0.5rem 2rem;
          border-radius: 1rem;
          cursor: pointer;
          top: 1rem;
          font-size: 1.5rem;
        }
        ul {
          display: flex;
          flex-direction: column;
          padding: 1rem;

          li {
            font-size: 1.5rem;
          }
        }
      }
      div {
        img {
          border-radius: 1rem;
        }
      }
    }
    section {
      .boton {
        border-radius: 1rem;
        background-color: yellow;
        padding: 1rem 2rem;
        cursor: pointer;
        &:hover {
          background-color: gray;
          color: white;
        }
      }
    }
  }
  footer {
    background-color: white;
    width: 100%;
    height: 2rem;
  }
}
